<footer class="footer">
    <div class="footer-left">
        <img src="./assets/imgs/LogoIcon.png" class="logo" alt="Footer Logo">
        <img src="./assets/imgs/LogoName.png" class="name" alt="Educa Tech">
    </div>
    <div class="footer-right">
        <div class="contact-info">
            <p>email@email.com.br</p>
            <br>
        </div>
        <div class="social-icons">
            <img src="./assets/imgs/linkedin.svg" class="name" alt="Educa Tech">
            <img src="./assets/imgs/twitter.svg" class="name" alt="Educa Tech">
        </div>
    </div>
</footer>
