
<app-header></app-header>
<body>
    <img src="./assets/imgs/BgPage.png" alt="Background" class="bg">
    <div class="title">
        <h1>
            Parceiros
        </h1>
    </div>

    <main>
        <div class="section">
            <div class="card">
                <div class="cardText">
                    <h3>
                        Temos parcerias estratégicas com empresas líderes, como o Ifood, para oferecer uma ampla variedade de cursos online aos nossos alunos. Trabalhamos em conjunto para promover a educação e a inclusão digital.
                    </h3>
                </div>
                <button>
                    Se tornar parceiro
                </button>
            </div>
            <div class="imagemNote">
                <img src="./../../../assets/imgs/group-business-people-working-office.jpg" alt="Notebook">
            </div>
        </div>
        <img src="./assets/imgs/bignumbers.png" alt="Parceiros" class="parceiros">
        <div class="numbers">
            <div class="numberCard">
                <div class="circle"></div>
                <div class="big">
                    +5
                </div>
                <h2>
                    Empresas parceiras
                </h2>
                <p>
                    em 2023
                </p>
            </div>
            <div class="numberCard">
                <div class="circle"></div>
                <div class="big">
                    +125
                </div>
                <h2>
                    Computadores Emprestados
                </h2>
                <p>
                    em 2023
                </p>
            </div>
            <div class="numberCard">
                <div class="circle"></div>
                <div class="big">
                    +245
                </div>
                <h2>
                    Pessoas impactadas
                </h2>
                <p>
                    em 2023
                </p>
            </div>
        </div>
    </main>
</body>
<app-footer></app-footer>