.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
}

.header img {
    height: 4rem;
}

.nav {
    display: flex;
}

.nav-item {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav-item.active {
    color: orange;
}

button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
}
