<div class="header">
    <img src="./assets/imgs/LogoColorido.png" alt="Logo">
    <div class="nav">
        <a routerLink="/" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/sobre" class="nav-item" routerLinkActive="active">Sobre nós</a>
        <a routerLink="/parceiros" class="nav-item" routerLinkActive="active">Parceiros</a>
        <a routerLink="/doe" class="nav-item" routerLinkActive="active">Doe</a>
    </div>
    <button>
        Acessar
    </button>
</div>
