
<app-header></app-header>
<body>
    <img src="EducaTech/tree/main/src/assets/BgPage.png" alt="Background" class="bg">
    <div class="title">
        <h1>
            Quem Somos
        </h1>
    </div>
    <main>
        <div class="text">
            A Equipa Tech nasceu de uma paixão em comum pela educação e tecnologia durante o Hackathon Potencia Tech, organizado pelo Hackathon Brasil em parceria com o Ifood. Movidos pela convicção de que a falta de recursos tecnológicos não pode ser um obstáculo para o aprendizado, nos unimos para criar uma solução inovadora. Nosso objetivo é proporcionar oportunidades de crescimento e transformação por meio do empréstimo de notebooks, tablets, celulares e chips de internet para aqueles que desejam se aventurar nos cursos online.
        </div>
        <div class="section">
            <div class="card">
                <div class="cardText">
                    <h3>
                        Conheça nosso trabalho
                    </h3>
                    <p>
                        Na Equipa Tech, estamos comprometidos em levar a educação digital a todos, independentemente das barreiras tecnológicas. Nossa missão é capacitar indivíduos, fornecendo o empréstimo de dispositivos essenciais, como notebooks, tablets, celulares e chips de internet.
                        <br><br>
                        Através dessa iniciativa, estamos proporcionando oportunidades de aprendizado significativas para aqueles que de outra forma não teriam acesso a essas ferramentas. Além disso, nossa parceria estratégica com o Ifood expande ainda mais nossas possibilidades, permitindo que mais pessoas tenham acesso aos cursos online e ampliem seus horizontes educacionais.
                        <br><br>
                        Acreditamos que o conhecimento é transformador e estamos empenhados em impulsionar a inclusão digital, capacitando indivíduos a alcançarem seu potencial máximo.
                    </p>
                </div>
            </div>
            <div class="pontosTrabalho">
                <ul>
                    <li>
                        Inclusão igital
                    </li>
                    <li>
                        Educação digital acessível
através de empréstimos
                    </li>
                    <li>
                        Ampliação de Oportunidades
                    </li>
                    <li>
                        Empréstimo de dispositivos
                    </li>
                    <li>
                        Acesso igualitário
                    </li>
                </ul>
            </div>
        </div>

        <button>
           Acesse
        </button>
        <h2>
                Nossa Equipe
        </h2>

        <div class="carousel">
            Carrossel de fotos abaixo<br>
            A Equipa Tech é formada por um time multidisciplinar de profissionais apaixonados por educação e tecnologia. Nosso objetivo é levar a educação digital a todos, independentemente das barreiras tecnológicas. Acreditamos que o conhecimento é transformador e estamos empenhados em impulsionar a inclusão digital, capacitando indivíduos a alcançarem seu potencial máximo.
        </div>
    </main>
</body>
<app-footer></app-footer>