
<app-header></app-header>
<body>
    <img src="./../../../assets/BgPage.png" alt="Background" class="bg">
    <div class="title">
        <h1>
            Quem Somos
        </h1>
    </div>
    <main>
        <div class="text">
            A Equipa Tech nasceu de uma paixão em comum pela educação e tecnologia durante o Hackathon Potencia Tech, organizado pelo Hackathon Brasil em parceria com o Ifood. Movidos pela convicção de que a falta de recursos tecnológicos não pode ser um obstáculo para o aprendizado, nos unimos para criar uma solução inovadora. Nosso objetivo é proporcionar oportunidades de crescimento e transformação por meio do empréstimo de notebooks, tablets, celulares e chips de internet para aqueles que desejam se aventurar nos cursos online.
        </div>
        <div class="section">
            <div class="card">
                <div class="cardText">
                    <h3>
                        Conheça nosso trabalho
                    </h3>
                    <p>
                        Na Equipa Tech, estamos comprometidos em levar a educação digital a todos, independentemente das barreiras tecnológicas. Nossa missão é capacitar indivíduos, fornecendo o empréstimo de dispositivos essenciais, como notebooks, tablets, celulares e chips de internet.
                        <br><br>
                        Através dessa iniciativa, estamos proporcionando oportunidades de aprendizado significativas para aqueles que de outra forma não teriam acesso a essas ferramentas. Além disso, nossa parceria estratégica com o Ifood expande ainda mais nossas possibilidades, permitindo que mais pessoas tenham acesso aos cursos online e ampliem seus horizontes educacionais.
                        <br><br>
                        Acreditamos que o conhecimento é transformador e estamos empenhados em impulsionar a inclusão digital, capacitando indivíduos a alcançarem seu potencial máximo.
                    </p>
                </div>
            </div>
            <div class="pontosTrabalho">
                <ul>
                    <li>
                        Inclusão Digital
                    </li>
                    <li>
                        Educação digital acessível
através de empréstimos
                    </li>
                    <li>
                        Ampliação de Oportunidades
                    </li>
                    <li>
                        Empréstimo de dispositivos
                    </li>
                    <li>
                        Acesso igualitário
                    </li>
                </ul>
            </div>
            
            <button>
                Solicitar Agora
            </button>
        </div>
        <div class="descricao">
            <div class="text">
                A Equipa Tech, é uma solução inovadora de empréstimo de notebooks, tablets, celulares e chips de internet para aqueles que mais precisam para conseguir se profissionalizar, feito pensando nos interessados em realizar  cursos online, mas que não possuem um equipamentos ou condições adequadas para estes.
    O Equipa Tech foi pensando em parceria com o Ifood,  buscando proporcionar um acesso igualitário à educação digital.

    Agora, com a Equipa Tech, indivíduos sem esses recursos podem aproveitar os cursos EAD oferecidos, superando as barreiras tecnológicas.

    Junte-se agora nessa jornada de aprendizado sem limites e transforme seu futuro com a Equipa Tech.
            </div>
            <div class="imagemNote">
                <img src="./../../../assets/closenote.png" alt="Notebook">
            </div>
        </div>
    </main>
</body>
<app-footer></app-footer>