
<app-header></app-header>
<body>
    <img src="EducaTech/tree/main/src/assets/bg.png" alt="Background" class="bg">
    <div class="title">
        <h1>
            Trazendo a oportunidade de educação para cada vez mais pessoas
        </h1>
    </div>

    <app-caroussel [images]="['educatech/src/assets/closenote.png', './../../../assets/closenote2.png', './../../../assets/closenote3.png']"></app-caroussel>
    <main>
        <div class="section">
            <div class="imagemNote">
                <img src="EducaTech/tree/main/src/assets/note.png" alt="Notebook">
            </div>
            <div class="card">
                <div class="cardText">
                    <h3>
                        Você não precisa desistir daquele curso online, só por que não tem PC
                    </h3>
                    <p>
                        Solicite seu PC, Tablet, Celular ou Plano de Internet agora, e não deixe de estudar
                    </p>
                </div>
                <button>
                    Solicitar Agora
                </button>
            </div>
        </div>
        <div class="descricao">
            <div class="text">
                A Equipa Tech, é uma solução inovadora de empréstimo de notebooks, tablets, celulares e chips de internet para aqueles que mais precisam para conseguir se profissionalizar, feito pensando nos interessados em realizar  cursos online, mas que não possuem um equipamentos ou condições adequadas para estes.
    O Equipa Tech foi pensando em parceria com o Ifood,  buscando proporcionar um acesso igualitário à educação digital.

    Agora, com a Equipa Tech, indivíduos sem esses recursos podem aproveitar os cursos EAD oferecidos, superando as barreiras tecnológicas.

    Junte-se agora nessa jornada de aprendizado sem limites e transforme seu futuro com a Equipa Tech.
            </div>
            <div class="imagemNote">
                <img src="EducaTech/tree/main/src/assets/closenote.png" alt="Notebook">
            </div>
        </div>
    </main>
</body>
<app-footer></app-footer>